@import "../../styles";

.base-button {
  border: 3px solid $primary-color;
  border-radius: 7px;
  padding: 5px 12px;
  background-color: $primary-color;

  color: $color--white;
  font-size: 18px;
  font-style: italic;
  text-transform: uppercase;
  transition-property: border, background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  cursor: pointer;

  &--outline {
    color: $primary-color;
    background-color: transparent;
  }

  &:hover {
    background-color: $primary-color--contrast;
    border: 3px solid $primary-color--contrast;
    color: $color--white;
    transition-property: border, background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }
}
