@import "../../../styles";

.header-mobile {
  &__container {
    z-index: 1;
    position: fixed;
    padding: 20px 30px;
    height: 100vh;
    right: 0;
    background-color: $color--black;
    transition-property: width, padding;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }

  &__show {
    width: $navbar--width;
  }

  &__hide {
    width: 0;
    padding-left: 0;
    padding-right: 0;
  }

  &__menu {
    margin: 0 0 60px;
    padding-left: 0;
    list-style-type: none;
    font-size: 14px;
    text-align: right;

    li {
      margin-bottom: 30px;
      font-style: italic;
      cursor: pointer;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__connect-button {
    margin-bottom: 50px;
    text-align: center;
  }

  &__close-icon {
    display: block;
    margin-bottom: 24px;
    font-size: 24px;
    cursor: pointer;

    path {
      stroke: $color--white;
    }
  }
}
