$color--black: #000000;
$color--gray: #c4c4c4;
$color--white: #ffffff;
$color--green-500: #77b434;
$color--green-700: #97d454;
$color--green-900: #253216;

$primary-color: $color--green-500;
$primary-color--contrast: $color--green-700;

$header--height: 70px;
$navbar--width: 200px;
